body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #375EAB;
  color: #fff;
}

.container {
  width: 90%;
  margin:0 auto;
  max-width:1140px;
}

header {
  width: 100%;
  margin:0px auto;
}

h1 {
  text-align: center;
  color:#fff;
  font: 95px/1 kaushan-script;
  display: inline-block;
  text-shadow:#12316F -2px 2px 0,
  #12316F -4px 4px 0,
  #375EAB -6px 6px 0,
  #375EAB -8px 8px 0;
  width: 100%;
  margin: 5% auto 5%;
}
